anthropic==0.40.0
beautifulsoup4==4.12.3
cohere==5.13.12
colorcet==3.0.1
instructor==1.4.1
langchain==0.2.1
langchain-community==0.2.1
langchain-anthropic==0.1.15
langchain-cohere==0.1.5
langchain-groq==0.1.4
langchain-together==0.0.2.post1
langchain-openai==0.1.8
latex2mathml==3.5.0
litellm==1.67.2
markdown2==2.5.2
nltk==3.8.1
numpy>=1.25.0
scikit-learn==1.7.0
sentence-transformers==2.7.0
streamlit==1.47.0
streamlit-nested-layout==0.1.4
plotly==6.2.0
pandas==2.3.0
psycopg2-binary==2.9.7
pgvector==0.2.5
pydantic==2.9.1
openai==1.76.0
demjson3==3.0.6
tokencost>=0.1.17
voyageai~=0.3.2