cohere==4.31
langchain==0.1.11
langchain-community==0.0.27
numpy==1.24.4
streamlit==1.32.2
streamlit-plotly-events==0.0.6
plotly==5.18.0
pandas==2.0.3
psycopg2-binary==2.9.7
pgvector==0.2.3
pydantic==2.5.3
openai==1.10.0
demjson3==3.0.6
tiktoken==0.6.0
mlx-lm==0.3.0